@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono&family=VT323&display=swap');

body {
    background: #252525;
    color: lawngreen;
    box-sizing: border-box;
}
.conteiner {
    height: 85vh;
    width: 85vw;
    margin: auto;
}
header {
    position: relative;
    min-width: 80%;
}
header > h1 {
    font-size: 2.2em;
    font-family: 'VT323', monospace;
}
header > h1 > strong {    
    display: block;
    font-size: 2.6em;
    text-transform: uppercase;
    font-family: 'Red Hat Mono', monospace;
}
main {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin: 2%;
    font-family: 'VT323', monospace;
}
main section {
    flex: 1 1;
    padding: 1em;
}
main section p {
    font-size: 1.6em;
}
ul.card-container{
    padding: 5px;
    margin: 0;
}
ul li.card {
    border: 3px solid #2daf13;
    border-radius: 2%;
    margin: 5px;
    list-style: none;
    background-color: azure;
    color: #252525;
    padding: 5px;
}
ul li.card a{
    text-decoration: none;
    color: darkgreen;
}